<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>join</title>
</head>
<body>
    <h3>회원가입</h3>
    <hr />
    
    <form action = '/member/join' method = 'post'>
   
    <!-- # <br />은 줄바꿈  -->
    아이디 : <input type = 'text' name= 'id' /> <br />
    암호 : <input type = 'password' name = 'pw' /> <br /> 
    암호1 : <input type = 'password' /> <br /> 
    이름 : <input type = 'text' name = 'name' /> <br />
    나이 <input type = 'text' name = 'age' /> <br />
    <input type = 'submit' value = '회원가입' />
    

    </form>
</body>
</html>